@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing: border-box;
    transition: .6s;
}
body{
text-align: center;

}
header{
    position: fixed;
    width: 100%;
    /* background-color: brown; */
    left: 0;
    top: 0;
    z-index: 1;
}
header nav ul li {
    list-style: none;
    display: inline-block;
    float:right;
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: purple;
    letter-spacing: 1px;
}
a.new-Home
{
    color: white;
}
header img{
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
header.new-header{
    background-color: rgb(153, 50, 204,0.7);
    margin-top: -15px;
}
#logo{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left:20px; 
}


main
{
    margin-top: 200px;
}

#treated-Pets
{   height: 300px;
    width: 80%;
    /* background-color: rgb(135, 135, 151); */
    position: relative;

}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }


  footer{
    clear: both;
    position: absolute;
    width: 100%;
    background-color: rgb(153, 50, 204,0.7);
    height: 200px;
    top:  100%;
    margin-top: 25%;

    left: 0px;
    
}
footer p{
    color: white;
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
    margin-top: 100px;

}

.But
{
    font-size: 24px;
    background-color: rgb(145, 0, 145);
    padding: 14px 40px;
    border-radius: 12px;
}
/* ////////////////////////////////////////////////////////////////////// */






fieldset
{
    border: 3px solid purple;
 
}

fieldset {
    background: white;
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}
fieldset:hover {
  background: rgb(168, 134, 168);
}

/* ////////////////////////////////////////////////////////////// */


.slideshow {
    list-style-type: none;
    position: absolute;



  }


  
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
      top: 100px; /*Not sure why I needed this fix*/

      width: 80%;
      height: 400px;
      left: 0px;
      z-index: 0; 
  }
  
  .slideshow li span { 

      position: absolute;
      width: 80%;
      height: 400px;
      bottom:  0px;
      left: 280px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 30s linear infinite 0s; 
  }
  
  .slideshow img{

      height: 400px;
      width: 100%;
  }
  
  /* .slideshow li:nth-child(1) span { 
      background-image: url("../imgReport/BA1.jpg"); 
  } */
  .slideshow li:nth-child(2) span { 
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span {  
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      animation-delay: 24s; 
  }


    .slideshow li:nth-child(6) span { 
        animation-delay: 30s; 
    }
    .slideshow li:nth-child(7) span { 
        animation-delay: 36s; 
    }
    .slideshow li:nth-child(8) span {  
        animation-delay: 42s; 
    }
    .slideshow li:nth-child(9) span { 
        animation-delay: 48s; 
    }

    .slideshow li:nth-child(7) span { 
        animation-delay: 54s; 
    }
    .slideshow li:nth-child(8) span {  
        animation-delay: 60s; 
    }
    .slideshow li:nth-child(9) span { 
        animation-delay: 66s; 
    }





  
  
  
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  
  
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }