@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
*{
    box-sizing: border-box;
    transition: .6s;
}
body{
text-align: center;
}
header{
    position: fixed;
    width: 100%;
    /* background-color: brown; */
    left: 0;
    top: 0;
    z-index: 1;
}
header nav ul li {
    list-style: none;
    display: inline-block;
    float:right;
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
header nav ul li a{
    text-decoration: none;
    color: purple;
    letter-spacing: 1px;
}
a.new-Home
{
    color: white;
}
header img{
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
header.new-header{
    background-color: rgb(153, 50, 204,0.7);
    margin-top: -15px;
}
#logo{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-left:20px; 
}
main
{
    margin-top: 200px;
}
#treated-Pets
{   height: 300px;
    width: 80%;
    /* background-color: rgb(135, 135, 151); */
    position: relative;
}
.column {
    margin-left: 25%;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  fieldset legend h2{
    color : rgb(153, 50, 204,0.7);
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
input[type=text], input[type=number], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 15px;
  }
  
  .footer-distributed{
      background: rgb(153, 50, 204,0.7);
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      font: bold 16px sans-serif;
      padding: 55px 50px;
      position: absolute;
      left: 0px;
      top: 150vh;
      height: 35vh;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
      display: inline-block;
      vertical-align: top;
  }
  /* Footer left */
  .footer-distributed .footer-left{
      width: 40%;
  }
  /* The company logo */
  .footer-distributed h3{
      color:  #FFFFFF;
      /* font: normal 36px 'Open Sans', cursive; */
      margin: 0;
      font-size: 40px;
  }
  .footer-distributed h3 span{
      color:  purple;
  }
  /* Footer links */
  .footer-distributed .footer-links{
      color:  #FFFFFF;
      margin: 20px 0 12px;
      padding: 0;
  }
  .footer-distributed .footer-links a{
      display:inline-block;
      line-height: 1.8;
    font-weight:400;
      text-decoration: none;
      color:  inherit;
  }
  .footer-distributed .footer-company-name{
      color:  white;
      font-size: 14px;
      font-weight: normal;
      margin: 0;
  }
  /* Footer Center */
  .footer-distributed .footer-center{
      width: 35%;
  }
  .footer-distributed .footer-center i{
      background-color:  #33383B;
      color: #FFFFFF;
      font-size: 25px;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      text-align: center;
      line-height: 42px;
      margin: 10px 15px;
      vertical-align: middle;
  }
  .footer-distributed .footer-center i.fa-envelope{
      font-size: 17px;
      line-height: 38px;
  }
  .footer-distributed .footer-center p{
      display: inline-block;
      color: #FFFFFF;
    font-weight:400;
      vertical-align: middle;
      margin:0;
  }
  .footer-distributed .footer-center p span{
      display:block;
      font-weight: normal;
      font-size:14px;
      line-height:2;
  }
  .footer-distributed .footer-center p a{
      color:  purple;
      text-decoration: none;;
  }
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  /* Footer Right */
  .footer-distributed .footer-right{
      width: 20%;
  }
  .footer-distributed .footer-company-about{
      line-height: 20px;
      color:  purple;
      font-size: 13px;
      font-weight: normal;
      margin: 0;
  }
  .footer-distributed .footer-company-about span{
      display: block;
      color:  #FFFFFF;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  .footer-distributed .footer-icons{
      margin-top: 25px;
  }
  .footer-distributed .footer-icons a{
      display: inline-block;
      width: 35px;
      height: 35px;
      cursor: pointer;
      border-radius: 2px;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px;
  }
  /* If you don't want the footer to be responsive, remove these media queries */
  @media (max-width: 880px) {
      .footer-distributed{
          font: bold 14px sans-serif;
      }
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
          display: block;
          width: 100%;
          margin-bottom: 40px;
          text-align: center;
      }
      .footer-distributed .footer-center i{
          margin-left: 0;
      }
  }

.But
{
    font-size: 24px;
    background-color: white;
    color:  rgb(153, 50, 204,0.7);
    
    border-radius: 12px;
    width: 150px;
    height: auto;
    display: inline-block;
    
}


/* ////////////////////////////////////////////////////////////////////// */
fieldset
{
    border: 3px solid purple;
    margin-top: 50px;
}
fieldset {
    background: white;
    -webkit-transition-property: background;
       -moz-transition-property: background;
         -o-transition-property: background;
            transition-property: background;
    -webkit-transition-duration: 1s;
       -moz-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
    -webkit-transition-timing-function: linear;
       -moz-transition-timing-function: linear;
         -o-transition-timing-function: linear;
            transition-timing-function: linear;
}

/* ////////////////////////////////////////////////////////////// */
.slideshow {
    list-style-type: none;
    position: absolute;
  }
  /** SLIDESHOW **/
  .slideshow,
  .slideshow:after { 
      top: 100px; /*Not sure why I needed this fix*/
      width: 80%;
      height: 400px;
      left: 0px;
      z-index: 0; 
  }
  .slideshow li span { 
      position: absolute;
      width: 80%;
      height: 400px;
      bottom:  0px;
      left: 280px;
      color: transparent;
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 30s linear infinite 0s; 
  }
  .slideshow img{
      height: 400px;
      width: 100%;
  }
  /* .slideshow li:nth-child(1) span { 
      background-image: url("../imgReport/BA1.jpg"); 
  } */
  .slideshow li:nth-child(2) span { 
      animation-delay: 6s; 
  }
  .slideshow li:nth-child(3) span { 
      animation-delay: 12s; 
  }
  .slideshow li:nth-child(4) span {  
      animation-delay: 18s; 
  }
  .slideshow li:nth-child(5) span { 
      animation-delay: 24s; 
  }
    .slideshow li:nth-child(6) span { 
        animation-delay: 30s; 
    }
    .slideshow li:nth-child(7) span { 
        animation-delay: 36s; 
    }
    .slideshow li:nth-child(8) span {  
        animation-delay: 42s; 
    }
    .slideshow li:nth-child(9) span { 
        animation-delay: 48s; 
    }
    .slideshow li:nth-child(7) span { 
        animation-delay: 54s; 
    }
    .slideshow li:nth-child(8) span {  
        animation-delay: 60s; 
    }
    .slideshow li:nth-child(9) span { 
        animation-delay: 66s; 
    }
  @keyframes imageAnimation { 
      0% { opacity: 0; animation-timing-function: ease-in; }
      8% { opacity: 1; animation-timing-function: ease-out; }
      17% { opacity: 1 }
      25% { opacity: 0 }
      100% { opacity: 0 }
  }
  @keyframes titleAnimation { 
      0% { opacity: 0 }
      8% { opacity: 1 }
      17% { opacity: 1 }
      19% { opacity: 0 }
      100% { opacity: 0 }
  }
  .no-cssanimations .cb-slideshow li span {
      opacity: 1;
  }